fastapi>=0.111.0
uvicorn>=0.30.1
pydantic-settings>=2.3.4
httpx
langchain-text-splitters
tenacity
chromadb
qdrant-client
Whoosh 
sentence-transformers
sqlalchemy
duckduckgo-search
openai
google-generativeai
fpdf2
python-docx
Jinja2
tiktoken
